<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS2Course</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <!-- Template -->
    <div id="vue-app">
        <h3>Two way data binding</h3>
        <label>Name:</label>
        <input type="text" v-model="name" />
        <p>My name is {{ name }}</p>
        <label>Age:</label>
        <input type="text" v-model="age" />
        <p>My age is {{ age }}</p>
    </div>

    <script src="app.js"></script>
</body>
</html>